<!DOCTYPE html>
<html>
	<head>
		<title>Hobby Corner Connection Page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./../resources/css/bootstrap.min.css">
		<link rel="stylesheet" href="./../resources/css/common.css">
		<link rel="stylesheet" href="./../resources/css/connection.css">
	</head>
	<body>
		<script src="./../resources/scripts/lib/jquery-3.4.1.min.js" ></script>
    	<script src="./../resources/scripts/lib/popper.min.js"></script>
    	<script src="./../resources/scripts/lib/bootstrap.min.js" ></script>
		<div class="page-container">
    		<div class="content-wrapper">
				<% include ./partials/header.ejs %>
				<% include ./partials/navigation.ejs %>
				<div class="main-container">
					<div class="container">
						<div class="text-center"><h3><%= data.connectionName %></h3></div>
						<div class=" card shadow mt-5 p-3">
							<div class="row justify-content-center">
								<div class="col-md-3 order-md-2 text-center" >	
									<img class="profile-img img-thumbnail shadow rounded-circle" src="./../resources/images/<%= data.imageName %>" alt="profile picture" />
								</div>
								<div class="col-md-4 order-md-1 event-stats justify-content-center align-self-md-center">
									<div class="count-container">
										<div class="maybe float-right">
											<span class="count"><%= data.maybe %></span>
											<span class="description">May be</span>
										</div>
										<div class="going">
											<span class="count"><%= data.going %></span>
											<span class="description">Going</span>
										</div>
									</div>
								</div>
								<div class="col-md-4 order-md-3 text-md-right align-self-md-center text-center pt-md-0 pt-1">
									
										<a class="btn btn-success shadow" href="#" onclick="submitForm('yes', '<%= data.connectionId %>')" >Yes</a>
			    						<a class="btn btn-primary shadow"  href="#" onclick="submitForm('maybe', '<%= data.connectionId %>')" >May be</a>
			    						<a class="btn btn-danger shadow "  href="#" onclick="submitForm('no', '<%= data.connectionId %>')" >No</a>
								</div>
							</div>
							<div class="text-center pt-3">
								<h3>By <%= data.hostedBy %></h3>
								<div class="h6 font-weight-300"> <%= data.dateTime %></div>
								<address>
									<%= data.address %>
			    					<!-- 21st Club House,<br>
			    					Near Concord Mills<br>
			    					Charlotte, NC - 28212<br> -->
			    				</address>
			    				<div class="mt-5 py-5 border-top text-center">
					               	<p>
						               	<%= data.details %>
						    		</p>
						            <!-- <a href="#">Show more</a> -->
						        </div>
							</div>
						</div>
					</div>
				</div>
				<% include ./partials/footer.ejs %>
			</div>
		</div>
		<form id="saveConnectionform" method="POST" action="/savedConnections">
			<input type="hidden" id="viewConnections" name="viewConnections" value="<%= data.connectionId %>">
		</form>
		<script type="text/javascript">
			function submitForm(rsvp, connectionId){
				var form = document.getElementsByTagName('form')[0];
				var viewConnections = document.getElementById('viewConnections');
				var hiddenViewConnections = new Array();
				hiddenViewConnections.push(viewConnections.value);
				console.log(hiddenViewConnections[0]);
				viewConnections.value = JSON.stringify(hiddenViewConnections);
				console.log(viewConnections.value);
				form.action = "/savedConnections?action=save&connectionId="+connectionId+"&rsvp="+rsvp;
				form.submit();
			}
		</script>
	</body>
</html>